<script type="application/ld+json">
{
	"@context" : "http://schema.org",
	"@type" : "Organization",
	"name" : ["やまなみ書房", "Yamanami Books"],
	"url" : "https://www.yamanami.tokyo/",
	"email" : "books@yamanami.tokyo",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Tokyo, Japan",
		"postalCode": "156-0043",
		"streetAddress": "Liberality, 5-22-6, Matsubara, Setagaya-ku",
		"addressCountry" : "JP"
	},
	"logo": "https://www.yamanami.tokyo/images/logo.png",
	"identifier": {
		"@type": "PropertyValue",
		"propertyID": "出版者記号",
		"value":  "909624"
	},
	"sameAs": [
		"https://bsky.app/profile/yamanami.tokyo",
		"https://jp.linkedin.com/company/yamanami-books",
		"https://twitter.com/yamanamibooks/",
		"https://www.instagram.com/yamanamibooks/",
		"https://github.com/YamanamiBooks/"
  ]
}
</script>
